<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai-Medic</title>

    <!-- Add the link to your Tailwind CSS stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <!-- Navigation Bar -->
    <nav class="bg-blue-500 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Left Side - Ai-Medic Title -->
            <a href="{{ url_for('home') }}" class="text-white text-2xl font-bold hover:underline">Ai-Medic</a>
            <!-- Right Side - Navigation Links -->
            <div class="space-x-4">
                <a href="{{ url_for('index') }}" class="text-white hover:underline">Medical Chatbot</a>
                <a href="{{ url_for('mental') }}" class="text-white hover:underline">Mental Health Bot</a>
                <a href="{{ url_for('disease') }}" class="text-white hover:underline">Disease Predictor</a>
            </div>
        </div>
    </nav>

    <!-- Chat Container -->
    <div class="min-h-screen flex items-center justify-center">
        <div class="max-w-md w-full p-4 bg-white rounded-md shadow-md">
            <h1 class="text-3xl sm:text-2xl md:text-3xl font-bold mb-4">Medical Health Bot</h1>
            <div id="chat-container" class="space-y-4">
                <div id="chat" class="border-t-2 border-gray-200 pt-4"></div>
                <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-2">
                    <input type="text" id="user-input" placeholder="Type your message..."
                        class="flex-1 border border-gray-300 p-2 rounded-md text-sm sm:text-base">
                    <button onclick="sendMessage()"
                        class="bg-blue-500 text-white px-4 py-2 rounded-md text-sm sm:text-base">Send</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function sendMessage() {
            var userMessage = document.getElementById('user-input').value;
            document.getElementById('chat').innerHTML += `<p class="text-blue-500">User: ${userMessage}</p>`;

            // Send user message to the server for processing
            fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `user_message=${encodeURIComponent(userMessage)}`,
            })
                .then(response => response.json())
                .then(data => {
                    var aiResponse = data.ai_response;
                    document.getElementById('chat').innerHTML += `<p class="text-green-500">AI: ${aiResponse}</p>`;
                });
        }
    </script>
</body>

</html>
